<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                Tech Blog
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
            <span></span>
            <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active">
                        Home
                    </a>

                {{!-- This will show the Logout link (if user is logged in), or the Login page (if not logged in) --}}
                {{#if logged_in}}
                <a class="navbar-item">
                        Dashboard
                    </a>
                
                <a class="navbar-item" id="logout">
                        Logout
                    </a>
                {{else}}
                    <a class="navbar-item" href="/login">
                        Login
                    </a>
                {{/if}}
                
            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->

    
<section class="hero is-info is-small is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Edit Post</h1>
        </div>
    </div>
</section>

<div class="container">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <div class="card article mt-5">
                <div class="card-content">
                    <div>
                        <div class="has-text-right">
                            <h4 class="has-text-weight-semibold">Updated on {{formDate editPost.createdAt}}</h4>
                        </div>
                        <div class="m-2">
                            <h4 class="has-text-weight-semibold">Title</h4>
                        </div>
                        <input type="text" class="input is-info" id="title-input"value={{editPost.title}}>
                        <div class="m-2">
                            <h4 class="has-text-weight-semibold">Content</h4>
                        </div>
                            <textarea class="textarea is-info" id="content-textarea">{{editPost.contents}}</textarea>
                    </div>
                    <div class="update-delete-btns has-text-right mt-5">
                            <button class="button is-info" id="update-post" >Update</button>
                            <button class="button is-danger" id="delete-post">Delete</button>
                    </div>
                </div>
            </div>
            <div class="has-text-centered mt-5">
                <h4 class="has-text-weight-semibold">Comments</h4> 
            </div>
            {{#each editPost.comments as |comments| }}
            <div class="card article mt-5">
                <div class="comments card-content">
                    <div class="has-text-right">
                        <h4 class="has-text-weight-semibold">Posted by {{user.user_name}} on {{formDate comments.createdAt}}</h4>
                    </div>
                    <div>
                        {{comments.contents}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="/js/modal.js"></script>
<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>